
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Index</h2>

<table class="table table-striped">
    <tr>
        <td>測試</td>
        <td>TAO</td>
        <td>測試</td>
        <td>0611</td>
    <tr>

    <tr>
        <td>測試</td>
        <td>MIN</td>
        <td>測試</td>
        <td>0517</td>
    <tr>
</table>
